@font-face {
    font-family: 'IM FELL DW Pica';
    src: url('./fonts/IM_FELL_DW_Pica_Italic.woff2') format('woff2'),
        url('./fonts/IM_FELL_DW_Pica_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Benguiat Std Book Cn';
    src: url('./fonts/BenguiatStd-BoldCondensedItalic.woff2') format('woff2'),
        url('./fonts/BenguiatStd-BoldCondensedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Benguiat Std Book Cn';
    src: url('./fonts/BenguiatStd-BookCondensedItalic.woff2') format('woff2'),
        url('./fonts/BenguiatStd-BookCondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Benguiat Std Book Cn';
    src: url('./fonts/BenguiatStd-BookCondensed.woff2') format('woff2'),
        url('./fonts/BenguiatStd-BookCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Benguiat Std Medium Cn';
    src: url('./fonts/BenguiatStd-MediumCondensed.woff2') format('woff2'),
        url('./fonts/BenguiatStd-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL DW Pica';
    src: url('./fonts/IM_FELL_DW_Pica_Roman.woff2') format('woff2'),
        url('./fonts/IM_FELL_DW_Pica_Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Benguiat Std Book Cn';
    src: url('./fonts/BenguiatStd-BoldCondensed.woff2') format('woff2'),
        url('./fonts/BenguiatStd-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Benguiat Std Medium Cn';
    src: url('./fonts/BenguiatStd-MediumCondensedItal.woff2') format('woff2'),
        url('./fonts/BenguiatStd-MediumCondensedItal.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL DW Pica';
    src: url('./fonts/IM_FELL_DW_Pica_Roman_SC.woff2') format('woff2'),
        url('./fonts/IM_FELL_DW_Pica_Roman_SC.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clearwater';
    src: url('./fonts/Clearwater.woff2') format('woff2'),
        url('./fonts/Clearwater.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@keyframes replicant_bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes automata_bounce {
    0% {
      transform: translateY(-0.25em);
    }
    20% {
      transform: translateY(0.25em);
    }
    40%, 100% {
      transform: translateY(-0.25em);
    }
  }

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    /* Ensure relative positioning for absolute positioning */
}

body {
    background-color: #ffffff;
    color: #4b4947;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
}

.styleSwitcher {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    padding: 15px;
    max-width: 20%;
    background-color: #ffffff;
}

.automataLogo, .replicantLogo {
    padding: 0px 10px;
}

.automataLogo {
    max-width: 100px;
    filter:invert(1);
}

.replicantLogo {
    display: inline-block;
    max-width: 100px;
    filter:invert(1);
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    margin:10px 10px 0px 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 46px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0px 0px 0px 2px white;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #fbfbfb;
}

input:focus + .slider {
    box-shadow: 0 0 1px #fbfbfb;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #000;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.backButton {
    font-size: 2.5vh;
    color: #4b4947;
    background-color: #ffffff;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Clearwater';
}

.backButton::before {
    content: "⮜";
    margin-right: 10px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin-top: 3%;
}

#textBody {
    max-width: 100%;
    position: absolute;
    font-family: 'Clearwater';
    font-size: 2.5vh;
    color: #4b4947;
    font-stretch: expanded;
    min-height: 100%;
    padding-top: 3%;
    padding-right: 20%;
    padding-bottom: 20%;
    padding-left: 20%;
    user-select: none;
}

.interactionReminder {
    color: #c2c1bf;
}

.decoration_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    display:none;
}

.replicantIcon {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin-right: 5vh;
    margin-bottom: 5vh;
    animation: automata_bounce 1s ease-in-out infinite;
    filter:invert(1);
    display:none;
}

#textBody p svg {
    animation: automata_bounce 0.8s linear infinite;
    vertical-align: middle; 
    position: relative;
  }

  footer {
    position: fixed;
    font-family: 'Clearwater';
    font-size:1.3vh;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    text-align: center;
    color:#c7c7c7;
}
