html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

* {
    padding: 0;
    margin: 0;
}



a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

p {
    line-height: 200%;
}

p, table, ul {
    padding: 7px 50px;
}

th {
    text-align: left;
    vertical-align: top;
    min-width: 130px;
}

td {
    font-size: 10pt;
}

td > p {
    padding: 0px 0px 10px 5px;
    line-height: 175%;
}

body {
    background-color: #0c0c0c;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
}

code {
    background-color: rgba(0, 0, 0, 0.18);
    margin: 0px 5px;
    padding: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.2);
    font-weight: 300;
}

hr {
    width: 60%;
    border: none;
    height: 2px;
    background-color: hsla(0, 0%, 0%, 0.25);
    margin: 18px auto;
}

button {
    background-color: #ffb022;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-style: italic;
    margin: 0px 50px 30px 0px;
    float: right;
}

li {
    margin: 10px 0;
    font-size: 10pt;
}

.center {
    text-align: center;
}

.wrapper {
    height: 100%;
}

.active {
    color:#f52156
}

.flex-container {
    width: 60%;
    min-width: 700px;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
}

.flex-shadow {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(71,220,173,0.02);
-moz-box-shadow: 0px 0px 10px 3px rgba(71,220,173,0.02);
box-shadow: 0px 0px 10px 3px rgba(71,220,173,0.02);
}

.flex-main-content {
    padding: 50px 0px 30px 0px;
}

#main-description {
    width: 100%;
}

.flex-blue {
    background-color: #47dcad;
    position: relative;
    color: #000000;
    border-radius: 9px;
    margin: 10px;
}

.flex-black {
    background-color: #000000;
    position: relative;
    color: #ffffff;
    border-radius: 9px;
    margin: 10px;
}

.flex-white {
    background-color: #ffffff;
    position: relative;
    color: #000000;
    border-radius: 9px;
    margin: 10px;
}

.flex-accent-corner {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 50%); 
    margin: 0px 8px 0px 0px;
}

.flex-accent-corner-white {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 50%); 
    margin: 0px 8px 0px 0px;
}

.flex-accent-corner-white + p {
    color:#ffffff;
}

.flex-accent-red {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #f52156;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 0px 8px 0px 0px;
}
.flex-accent-yellow {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #ffb022;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 0px 8px 0px 0px;
}

.flex-title p {
    text-transform: uppercase;
    padding: 0;
    font-size: 14pt;
}

.flex-title {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px 0px 15px;
}

.flex-hero {
    display: flex;
    flex-direction: row;
}

#hero-image {
    flex: 4;
    margin: 10px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    overflow: hidden;
    position:relative;
}

.image-selector {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 10%;
    position:absolute;
    bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.image-selector svg {
cursor: pointer;
max-height: 100%;
}

.image-selector svg:not(.active) {
    fill: rgba(255, 255, 255, 0.3);
}

.active {
    fill: #ffffff;
}

#hero-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    z-index: 8;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
}

#hero-image img.selected {
    opacity: 1;
}

#flex-container-hero-right {
    display: flex;
    flex-direction: column;
    flex: 7;
    align-content: space-between;
}

#hero-title-card {
    flex: 1;
}
#hero-title-card .flex-main-content p {
    text-align: center;
    font-size: 11pt;
    padding: 4px 0px;
}

#hero-description {
    flex: 3;
}

#hero-description  em {
    color:#f52156;
}

.flex-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
}

.column {
    flex-direction: column!important;
}

#character-details {
    flex-grow: 3;
    width: 50%;
}

#character-preferences {
    flex-grow: 1;
}

#sticky-nav-bar {
    height: 75px;
    background: #0c0c0c;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    z-index: 999;
    top: 0;
}

.under-construction {
    height: 50px;
    background:#f52156;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 999;
    bottom: 0;
}

#website-logo {
    width: 20%;
    justify-self:end;
    padding: 0px 0px 0px 30px;
    user-select: none;
}

#sticky-nav-menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sticky-nav-menu span {
    margin-right: 40px;
    font-weight: 600;
    user-select: none;
}

#sticky-nav-menu span:not(.active):hover {
    color:#ffb022;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

#social-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20%;
    padding-right: 30px;
}

#social-menu svg {
    margin-left: 32px;
}

#social-menu svg:hover {
    fill: #ffb022;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

#block-image {
    min-height: 20vh;
    max-height: 40vh;
    width: 100%;
    margin: 10px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    overflow: hidden;
}

#block-image img {
    object-fit: cover;
    width: 100%;
}

#lore-title-image {
    min-height: 20vh;
    max-height: 30vh;
    width: 100%;
    margin: 10px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    overflow: hidden;
    display: flex;
}

#lore-title-image img {
    object-fit:contain;
    width: 100%;
}

#hooks-description {
    width: 100%;
}


